#ageBox {
    margin-top: 250px;
    text-align: center;
}

input {
    width: 40px;
    text-align: center;
}

button {
    cursor: pointer;
}

#resultNum1 {
    background: red;
    padding: 50px;
    border-radius: 50%;
}

#resultNum5 {
    background: blue;
    padding: 50px;
    border-radius: 50%;
}

#resultNum4 {
    background: green;
    padding: 50px;
    border-radius: 50%;
}

#resultNum3 {
    background: yellow;
    padding: 50px;
    border-radius: 50%;
}

#resultNum2 {
    background: orange;
    padding: 50px;
    border-radius: 50%;
}

#resultNum6 {
    background: purple;
    padding: 50px;
    border-radius: 50%;
}

.resultNum span {
    font-size: 20pt;
    font-weight: bolder;
    color: white;
    margin: 0% 2%;
}