body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #F3D5C0;
    padding: 0%;
    margin: 0%;
}

div {
    width: 100%;
    border: 1px solid red;
}

#siteTitle {
    font-size: 40pt;
    text-align: center;
}

#menu {
    font-weight: bold;
    width: 100%;
    float: left;    
    text-align: center;
    padding: 0%;
    padding-bottom: 50px;
    margin: 0%;
}

#menu ul {
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
}

#menu li {
    display: inline-block;
    width: 16%;   
}

#menu li a {
    color: black;
    text-decoration-line: none;
}

#menu li a:hover {
    color: slategray;
}

.horoscope {
    text-align: center;
}

.horoscope ul {
    width: 130px;
    display: inline-block;
    list-style: none;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0%;
}