body {
    background: #FEFFE2;
    font-family: 궁서;
    padding: 0%;
    margin: 0%;
}

div {
    width: 100%;
}

#siteTitle {
    font-size: 40pt;
    text-align: center;
}

#siteTitle a {
    text-decoration-line: none;
    color: black;
}

#siteTitle a:active {
    color: darkred;
}

#menu {
    background: #C3BA85;
    font-weight: bold;
    font-size: 15pt;
    width: 100%;
    float: left;    
    text-align: center;
    padding: 15px 0px;
    margin: 0%;
}

#menu ul {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15%;
}

#menu li {
    background: #F0F0CB;
    border-radius: 50px;
    display: inline-block;
    width: 10%;   
    margin-left: 3%;
    margin-right: 3%;
    line-height: 50px;
}

#menu li a {
    color: black;
    text-decoration-line: none;
}

#menu li a:hover {
    color: darkred;
}

.horoscope {
    font-size: 20pt;
    text-align: center;
    padding-top: 50px;
}

.horoscope h3 {
    padding-top: 5%;
}

.horoscope ul {
    width: 130px;
    display: inline-block;
    list-style: none;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0%;
}

footer {
    position: absolute;
    width: 100%;
    padding-bottom: 10px;
}

footer div a {
    text-decoration-line: none;
    color: black;
}

.foot
div{
    width: 50px;
    float: right;
}