section {
    position: relative; top: 60px;
    padding-left: 20%;
    padding-right: 20%;
}

#searchButton {
    cursor: pointer;
}

#notice {
    position: relative; top: 20px;
    width: 100%;
}

#noticeTitle {
    text-align: center;
}

#noticeNumber {
    text-align: center;
}

#noticeWriter {
    text-align: center;
}

#noticeDate {
    text-align: center;
}

#noticeContents {
    padding-left: 20px;
}

#noticeAdd button {
    margin: 0 6px;
    float: right;
    background: white;
    cursor: pointer;
}
